# --------
# OS Files
# --------
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# -------------
# Project Files
# -------------
node_modules

# -------------
# Config files
# -------------
.firebase


**/.claude/settings.local.json

**/.claude/settings.local.json
